In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_2000_2020_with_odds.csv')
df

,Date,Div,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,...,AC,HF,AF,HY,AY,HR,AR,B365H,B365D,B365A
0,2000-08-19,E0,Charlton,Man City,4,0,2,0,H,17,...,6,13,12,1,2,0,0,NaN,NaN,NaN
1,2000-08-19,E0,Chelsea,West Ham,4,2,1,0,H,17,...,7,19,14,1,2,0,0,NaN,NaN,NaN
2,2000-08-19,E0,Coventry,Middlesbrough,1,3,1,1,A,6,...,4,15,21,5,3,1,0,NaN,NaN,NaN
3,2000-08-19,E0,Derby,Southampton,2,2,1,2,D,6,...,8,11,13,1,1,0,0,NaN,NaN,NaN
4,2000-08-19,E0,Leeds,Everton,2,0,2,0,H,17,...,4,21,20,1,3,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7255,2020-02-15,E0,Norwich,Liverpool,0,1,0,0,A,5,...,7,5,11,1,2,0,0,11.00,6.25,1.25
7256,2020-02-16,E0,Aston Villa,Tottenham,2,3,1,2,A,18,...,7,12,10,2,0,0,0,4.00,3.80,1.85
7257,2020-02-16,E0,Arsenal,Newcastle,4,0,0,0,H,15,...,6,15,9,2,0,0,0,1.40,4.75,8.00
7258,2020-02-17,E0,Chelsea,Man United,0,2,0,1,A,17,...,8,11,11,4,3,0,0,1.85,3.50,4.50
7259,2020-02-19,E0,Man City,West Ham,2,0,1,0,H,20,...,1,5,7,0,1,0,0,1.12,9.50,17.00